<!--
<select id="golfsel">
<option (click)="onCourseClick()" value='1'>{{courseInfo[0].name}}</option>
    <option (click)="onCourse2Click()" value='1'>{{courseInfo[1].name}}</option>
    <option (click)="onCourse3Click()" value='1'>{{courseInfo[2].name}}</option>
  </select>-->
  <div id="course">
      <h2>Courses</h2>
     
     <button class="waves-effect waves-light btn" (click)="onCourseClick()">{{courseInfo[0].name}}</button>
     <button class="waves-effect waves-light btn" (click)="onCourse2Click()">{{courseInfo[1].name}}</button>
    
     <button class="waves-effect waves-light btn" (click)="onCourse3Click()">{{courseInfo[2].name}}</button>
    </div>
    <div id="course">
        <button *ngFor="let type of difficulty" class="waves-effect waves-light btn disp" (click)="setDifficulty(type)">{{type}}</button>
            
    </div>
    
    
    
                          
    <div class="cont">
      <div class="container">
        <img id="theimg" height="400px" src="{{image}}" aria-placeholder="image here">
    
        <ul  class=" wide collapsible">
          <li>
            <div (click)="test()" class="collapsible-header"><i class="material-icons">filter_drama</i>Course ID: {{id}}</div>
            <div class="collapsible-body"><span>
               
              </span></div>
          </li>
        </ul>
      </div>
    
      <div *ngIf="name">
        <div *ngIf="chosenDifficulty">
      <button (click)="playThisCourse()" class="cont2 btn" >Click to Play {{name}} on {{chosenDifficulty}}</button>
    </div>
    </div>
    
    
    
    </div>
    <div>
    </div>
    